<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onLogin()">
    <ion-item>
      <ion-input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Correo electrónico"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Contraseña"
        required
      ></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Entrar</ion-button>
<ion-button expand="block" fill="clear" routerLink="/auth/register">
  Crear cuenta
</ion-button>

  </form>
</ion-content>
