<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding home-background">
  <div class="user-card">
    <ion-avatar>
      <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
    </ion-avatar>
    <h2>{{ displayName || 'Usuario' }}</h2>
    <p>{{ email }}</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tus Wallpapers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aquí aparecerán tus wallpapers subidos.</p>
    </ion-card-content>
    <ion-button expand="block" (click)="selectFile()">Subir wallpaper</ion-button>
<input type="file" hidden #fileInput (change)="onFileSelected($event)" />
  </ion-card>
</ion-content>
