<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onRegister()">
    <ion-item>
      <ion-input [(ngModel)]="email" name="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="password" name="password" type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">Registrarse</ion-button>
    <ion-button expand="block" fill="clear" routerLink="/auth/login">Ya tengo cuenta</ion-button>
  </form>
</ion-content>